



  <div class="parallax2"><h1 id="sk">Skill Set</h1></div>
  <div class="infoskill">
    <div class="skillpanel"><p>Blacksmith</p></div>
    <div class="skillpanel"><p>Hand engraving<p></div>
    <div class="skillpanel"><p>Machinists</p></div>
    <div class="skillpanel"><p>Sheet metal</p></div>
    <div class="skillpanel"><p>Millwright</p></div>
    <div class="skillpanel"><p>Hand Printing</p></div>
  </div>


  <div class="parallax3"></div>
